


<h2>Signin </h2>

<%= form_for(:session, url: login_path) do |f| %> 

  <%= f.label :first_name %>
  <%= text_field :first_name %> <br>

  <%= f.label :email %>
  <%= email_field :email  %><br>
  
  <%= f.label :password %>
  <%= password_field :password %><br>

    <%= f.submit "Sign In", class: "btn btn-primary" %>

 <% end %>
