
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>  

<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>

        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>


<%= form_tag '/signin' do  %>

  First name: <%= text_field_tag :first_name %> <br>
  Email: <%= email_field_tag :email  %><br>
  Password: <%= password_field_tag :password %><br>
 
  <%= submit_tag "Sign In" %>

<% end %>
