
 <h3> As of <%= Date.today.to_s(:long) %> there are <%= @comment.comments_quantity %> crowdsourced reviews of Philadelphia's soupkitchens!.</h3>

<h1>hello</h1>
<h2>Write a comment about <%= @soupkitchen.name %> </h2>

<%= form_for([@soupkitchen, @comment]) do |f| %> 

  <%= f.label :title %><br>
    <%= f.text_field :title %>
    <br>
    
    <%= f.label :content %><br>
    <%= f.text_area :content, cols: 40, rows: 12 %>
    <br>

    <%= f.label :rating, "Rating, from 1-5, 5 being best." %>
    <%= f.number_field :rating, in: 0..5 %>
    <br>
    
    <%= f.submit %>


<% end %>
<%= link_to "Back to #{@soupkitchen.name}", soupkitchen_path(@soupkitchen) %> <br>
<%= link_to "All Soupkitchens", soupkitchens_path %> 
