<h2>new comment for <%= @soupkitchen.name %> </h2>

<%= form_for(@soupkitchen, @soupkitchen.comments.build) do |f| %>

<h4>(You must be logged in to add a comment.)</h4>
	<%= f.hidden_field :soupkitchen_id, value: @soupkitchen.id %>
		<%= f.hidden_field :user_id, value: @user.id %>


	<%= f.label "Title of Comment" %>
	<%= f.text_field :title %>
	<br>
	<%= f.label "Comment" %>
	<%= f.text_field :content %>
	<br>
	Add Rating (from 1 - 5)
	<br>
		


	<%= f.submit %>
<% end %>

Move to form -- 