<h2>New comment for <%= @soupkitchen.name %> </h2>


<%= form_for([ @soupkitchen, @comment] ) do |f| %> 

<%= f.hidden_field :soupkitchen_id, value: @soupkitchen.id %>
    
    <%= f.label "Title of Comment" %><br>
    <%= f.text_field :title %>
    <br>
    <%= f.label "Comment" %><br>
    <%= f.text_area :content, cols: 40, rows: 15 %>


  <%= f.submit %>
<% end %>

goal: soupkitchen/1/comment/1 

