

<p>
<%= @soupkitchen.name %><br>
<%= @soupkitchen.address %><br>
<%= @soupkitchen.city  %><br>
<%= @soupkitchen.state  %><br>
<%= @soupkitchen.zipcode %><br>
<%= @soupkitchen.phone  %><br>
</p>


<h3>Comments</h3>

  <%= pluralize(@soupkitchen.comments.count, "comment")%>   <br> <br> <br>
  <!--make this into a scope method in comments -->

  <% @soupkitchen.comments.each do |comment| %>
    
     <p>
        Comment by: <%= comment.user.first_name %> <br>
        <strong><%= comment.title %></strong>  <br>
        <%= comment.content %>   <br>
      
        <br>
     </p>
  <% end %>


<br>

<%= link_to "Add a comment about #{@soupkitchen.name}", new_soupkitchen_comment_path(@soupkitchen) %>
<br>
<%= link_to 'See all soupkitchens', soupkitchens_path %>
 