<p>
<%= @soupkitchen.name %><br>
<%= @soupkitchen.address %><br>
<%= @soupkitchen.city %><br>
<%= @soupkitchen.state %><br>
<%= @soupkitchen.zipcode %><br>
<%= @soupkitchen.phone %><br>
Indoors? <%= @soupkitchen.indoors %><br>
</p>

<h3>Comments</h3>
  <%= @soupkitchen.comments.count %> comments <br>
  <% @soupkitchen.comments.each do |comment| %>
    <p>
    Title: <%= comment.title %>
    Comment: <%= comment.content %>
    </p>
  <% end %>



  <h3><%= link_to "Add Comment", new_soupkitchen_comment_path(@soupkitchen) %></h3>
<br>
  <%= link_to 'Back', soupkitchens_path %>
  
 </p>