<p>
<%= @soupkitchen.name %><br>
<%= @soupkitchen.address %><br>
<%= @soupkitchen.city %><br>
<%= @soupkitchen.state %><br>
<%= @soupkitchen.zipcode %><br>
<%= @soupkitchen.phone %><br>
Indoors? <%= @soupkitchen.indoors %><br>
</p>

<h3>Comments</h3>

  <%= pluralize(@soupkitchen.comments.count, "comment")%>   <br>

  <% @soupkitchen.comments.each do |comment| %>
 
     <p>Title: <%= comment.title %><br>
     Comment: <%= comment.content %><br>
     Name: comment.user.first_name? </p>
  <% end %>


<br>
<%= link_to "Add Comment", new_soupkitchen_comment_path(@soupkitchen) %>
<br>
<%= link_to 'Back', soupkitchens_path %>
 