<h2>Hey <%= @user.first_name %>. Thanks for adding your profile. </h2>


<%= @user.about_me %><br>

Need to make any changes? 

<%= form_for @user do |f| %>

    <%= f.label :about_me %>
    <%= f.text_area :about_me %>
    <br>

    <%= f.submit "Save changes."%>
<% end %>


<%= link_to "home", root_path %><br>
<%= link_to "back", users_path %>