<h2>Hey <%= @user.first_name %>! </h2>

<%= @user.about_me %><br>
  
<% if @user.about_me %>
  <h3> Thanks for adding your profile. Need to make any changes? </h3>

      <%= form_for @user do |f| %>

         <%= f.label :about_me %>
         <%= f.text_area :about_me %> <br>
         <%= f.submit "save changes"%>

      <% end %>
<% else %>
   <h3> Add your profile. </h3>
    <%= form_for @user do |f| %>

         <%= f.label :about_me %>
         <%= f.text_area :about_me %><br>
         <%= f.submit "save"%>

    <% end %>
<% end %>


<%= link_to "home", root_path %><br>
<%= link_to "back", users_path %>