<h3>Your Profile</h3>

<p>Name: <%= @user.first_name %> <%= @user.last_name %> </p>

Comments
<div>
<%= @user.comments.each do |comment| %>
    <%= comment.title %>
    <%= comment.content %>
    <br>
    NExt: FIGURE OUT WHERE EACH COMMENT LIVES and link to it.  
 
    <br>
    <br>
<% end %>
</div>
<%= link_to "home", root_path %><br>
<%= link_to "log out", logout_path %>

