<h3>Your Profile</h3>

<p>Name: <%= @user.first_name %> <%= @user.last_name %> </p>

 <%= @user.soupkitchens.name %>
Comments
<div>
<% @user.comments.each do |comment| %>
    <%= comment.title %>
    <%= comment.content %>
    <br>
  

    <br>
    <br>
<% end %>
</div>

  NExt: FIGURE OUT WHERE EACH COMMENT LIVES and link to it.  
 --no not a comment -- but they can go to soupkitchens.commented_on and rate them -- 

link_to_if(@user == current_user)
 
 <br>
<%= link_to "home", root_path %><br>
<%= link_to "log out", logout_path %>

