<h3>Your Profile</h3>

<p>Name: <%= @user.first_name %> - <%= @user.last_name %></p>

<% if @user.about_me %>
  <%= @user.about_me %>
<% else %>
  <h4>Want to add your profile?</h4> <%= link_to "Add profile", edit_user_path(@user) %>
<% end %>

<h4> Your Reviews: </h4>
<div>
  <%= binding.pry %>
    <% @user.comments.each do |comment| %>
        <%= comment.title %>
        <%= comment.content %>
     
    <% @user.soupkitchen_ids.each do |soupkitchen| %>
        <%= soupkitchen.name %>
           <br> <br><br>
    <% end %>
</div>
 <br>
<%= link_to "home", root_path %><br>
<%= link_to "back", users_path %>

