<h2>Yelp for Soup Kitchens and Food Pantries in Philadelphia</h2>

<p>Wondering what your local kitchen or pantry is like? 
Check these out, and leave comments.</p>

<%= link_to "See Soup Kitchens", soupkitchens_path %>
<%= link_to "Add a Soup Kitchen", new_soupkitchen_path %>
<br>

<%= link_to "Signup", signup_path %>
<%= link_to "Signin", signin_path %>
<%= link_to "Logout", logout_path %>